@use "../../../../../styles/" as *;

.dash-options {
    border: 1px solid #4ad9ec;
    border-radius: 4px;
    background-color: #151422;
    color: #ffffff;
    outline: none;

    appearance: none;
    @include break("md") {
        padding: 0.3rem 0.5rem;
        padding-right: 2rem;
    }
}

.dash-drop {
    position: relative;
    cursor: pointer;
    border: 3px solid #4ad9ec;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    select {
        border: none;
        outline: none;
        border: none !important;
        padding-top: 0.7rem !important;
        padding-bottom: 0.7rem !important;
        padding-left: 1.5rem !important;
        padding-right: 6rem !important;
        font-size: 0.8rem;
        border-radius: 12px !important;
    }

    @include break("md") {
        border: 4px solid #4ad9ec;
        select {
            font-size: 1rem !important;
        }
    }
    @include break("xl") {
        border: 4px solid #4ad9ec;
        select {
            font-size: 1.1rem !important;
        }
    }
}

.dash-icon {
    position: absolute;
    right: 8px;
    top: 10px;
    color: #ffffff;

    @include break("md") {
        right: 8px;
        top: 14px;
    }
}
