@use "../../../../../../styles/" as *;

.bodyTabsRight {
    column-gap: 1rem;
    row-gap: 0.5rem;
    display: flex;

    align-items: center;
    flex-direction: row;
    padding: 0.8rem 0.5rem;
    flex-wrap: wrap;
    @include break("md") {
        justify-content: center;
    }
}

.bodytabsRightItem {
    background: #838484;
    padding: 0.5rem 0.9rem;
    border-radius: 0.2rem;
    font-size: 0.6rem;

    @include break("sm") {
        font-size: 0.7rem;
    }
    @include break("md") {
        font-size: 0.8rem;
    }
    @include break("xl") {
        font-size: 1rem;
    }
}

.saveResponses {
    font-size: 0.6rem;
    padding: 0.5rem;

    @include break("sm") {
        font-size: 0.7rem;
        padding: 0;
    }
    @include break("md") {
        font-size: 0.8rem;
    }
    @include break("xl") {
        font-size: 1rem;
    }
}
