@use "../../../../styles/" as *;

$color: #0057a5;

.multiDropDow {
    * {
        font-size: 1rem !important;
    }
}
.multiDropDownItems {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    gap: 1rem;
    @include break("lg") {
        flex-direction: row;
    }
    @include break("xxl") {
        justify-content: space-between;
    }
}

.dropMenu {
    background: $color;
}
.multiDropDow {
    width: 100%;

    @include break("md") {
        width: 45%;
    }
    @include break("lg") {
        width: 30%;
    }
    @include break("xl") {
        width: 20%;
    }
    @include break("xxl") {
        width: 15%;
    }

    button {
        background: transparent !important;
        color: #fff !important;
        border-radius: 0 !important;
        &:is(:hover, :active, :focus) {
            background-color: $color !important;
            box-shadow: none !important;
        }
    }
}

.dropMenu {
    border-radius: 0 !important;
    top: 100% !important;

    * {
        color: #fff !important;
        border-radius: 0 !important;
        background-color: transparent !important;
        background-color: $color !important;
        &:is(:hover, :focus) {
            box-shadow: none !important;
        }
    }
}

.dropWrapper {
    * {
        background-color: $color !important;
    }
}
