.apiDescription {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.apiDetailTitle {
    font-size: 24px !important;
}

.apiDescSummary {
    font-size: 20px !important;
}
