.services{
    background-color: #151422;
    padding-top: 70px;
}
.services-btn a{
    text-decoration: none !important;
    color: black;
    background-color: #4AD9EC;
    padding: .5rem 1.5rem;
    margin-left: 1rem ;
    border-radius: 5px;
}
.input-group button{
    background-color: #707070;
    color: #FAFAFA;
    text-transform:none;
}
.input-group input{
    padding: 1.5rem .5rem !important;
    background-color: #29283A;
    border: none;

}
.form-control::placeholder{
    color: #FAFAFA;
    padding-left: 30px;
}
.input-group{
    position: relative;
}
.search-icon{
    color: #FAFAFA;
    position: absolute;
    top: 25%;
    left: 110px;
    z-index: 1;
}