@use "../../../../styles/" as *;

$btnWidth: 7.5rem;
$inputWidth: calc(100% - $btnWidth);
$fonSize: 0.8rem;
$fonSizeSm: 0.9rem;
$fonSizeMd: 1.2rem;

.searchGroup {
    display: grid;
    grid-template-columns: 6rem auto 6rem;
    grid-gap: 0.4rem;

    border-radius: 5px;
    overflow: hidden;

    background: #727179;
    @include break("sm") {
        grid-template-columns: 6rem auto 6rem;
        grid-gap: 1rem;
    }
    @include break("md") {
        grid-template-columns: 8rem auto 8rem;
    }
    input {
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
        height: 100%;
        background: transparent;
        padding: 0.5rem 0;
        color: #ffffff;
        font-size: $fonSize;
        @include break("sm") {
            font-size: $fonSizeSm;
        }
        @include break("md") {
            font-size: $fonSizeMd;
        }
    }
}

.searchGroupTitle {
    font-weight: 500;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    @include break("md") {
        font-size: 1.2rem;
    }
}

@mixin common() {
    background: #aaa9ae !important;
}

.searchGroupDropDown {
    @include common();
    position: relative;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    select {
        appearance: none;
        border: none;
        outline: none;
        border: none !important;

        background: transparent !important;
        width: 100%;
        height: 100%;
        padding-left: 24px !important;
        text-transform: uppercase;
        font-size: $fonSize;
        @include break("sm") {
            font-size: $fonSizeSm;
        }
        @include break("md") {
            font-size: $fonSizeMd;
        }
    }
}

.searchGroupBtn {
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include common();
    outline: none;
    border: none;
    font-size: $fonSize;
    text-transform: uppercase;
    font-size: $fonSize;
    @include break("sm") {
        font-size: $fonSizeSm;
    }
    @include break("md") {
        font-size: $fonSizeMd;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }
}

.searchGroupDropDownIcon {
    cursor: auto !important;
    position: absolute;
    top: 12px;
    right: 10px;
    svg {
        width: 1rem !important;
        height: 1rem !important;
    }
    @include break("md") {
        top: 0.9rem;
        right: 10px;
        svg {
            width: 1.5rem !important;
            height: 1.5rem !important;
        }
    }
}
