@use "../../../../styles/" as *;

$btnWidth: 7.5rem;
$inputWidth: calc(100% - $btnWidth);
$fonSize: 0.8rem;
$fonSizeSm: 0.9rem;
$fonSizeMd: 1.2rem;

.searchGroup {
    display: grid;
    grid-template-columns: 6rem auto 6rem;
    grid-gap: 0.4rem;

    border-radius: 5px;

    background: #727179;
    @include break("sm") {
        grid-template-columns: 6rem auto 6rem;
        grid-gap: 1rem;
    }
    @include break("md") {
        grid-template-columns: 8rem auto 8rem;
    }
    input {
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
        height: 100%;
        background: transparent;
        padding: 0.5rem 0;

        color: #ffffff;
        font-size: $fonSize;
        @include break("sm") {
            font-size: $fonSizeSm;
        }
        @include break("md") {
            font-size: $fonSizeMd;
        }
    }
}

.searchGroupTitle {
    font-weight: 500;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    @include break("md") {
        font-size: 1.2rem;
    }
}

@mixin common() {
    background: #aaa9ae !important;
}

.searchGroupDropDown {
    @include common();
    position: relative;
    cursor: pointer;
    outline: none;

    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

    display: flex;
    justify-content: space-between;
    &.show {
        .searchGroupList {
            max-height: 500px;
        }
        .searchGroupDropDownIcon {
            transform: rotate(180deg);
        }
    }
    &:hover {
        background: lighten($color: #aaa9ae, $amount: 20%) !important;
    }
}

.searchGroupBtn {
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include common();
    outline: none;
    border: none;
    font-size: $fonSize;
    text-transform: uppercase;
    font-size: $fonSize;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    @include break("sm") {
        font-size: $fonSizeSm;
    }
    @include break("md") {
        font-size: $fonSizeMd;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }
    &:hover {
        background: lighten($color: #aaa9ae, $amount: 20%) !important;
    }
}

.searchGroupDropDownIcon {
    cursor: auto !important;
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;

    svg {
        width: 1rem !important;
        height: 1rem !important;
    }
    @include break("md") {
        top: 0.9rem;
        right: 10px;
        svg {
            width: 1.5rem !important;
            height: 1.5rem !important;
        }
    }
}

.searchGroupList {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background: rgb(121, 84, 98);
    width: 100%;
    top: 100%;
    max-height: 0;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
    li {
        padding: 0.5rem 1rem;
        border-bottom: 1px solid #607072;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            background: #979595;
        }
    }
}

.searchGroupDropDownTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    color: #000000;
}
