@use "../../../../styles/" as *;

.dashboard-center {
    color: #ffffff;
}
.center-content-head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 4rem;
    margin-top: 3rem;

    img {
        width: 5rem;
    }
    h3 {
        color: #ffffff;
    }

    @include break("sm") {
        justify-content: space-between;
    }
    @include break("md") {
        gap: 2rem;
    }
    @include break("xl") {
        max-width: 90%;
    }
}

.center-content-body {
    p {
        margin-bottom: 0;
    }
    span {
        font-size: 0.7rem;
    }
}
.center-inner-body {
    padding: 0.5rem 1rem;
    margin: 1.5rem 0 2rem;
    background-color: #707070;
    border-radius: 5px;
}
.center-content-bottom {
    a {
        text-decoration: none;
        color: #ffffff;
        padding: 0.2rem 0.8rem;
        background-color: #707070;
    }
}
.color-btn {
    background-color: #a374d5 !important;
    border-radius: 4px;
    color: #000 !important;
    font-size: 0.9rem;
}
.get {
    background-color: #67b1fc !important;
}
.patch {
    background-color: #60e4c3 !important;
}

.dash-imageContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
}
