.card {
    padding: 0.5rem 1rem;
    background-color: #29283a;
    color: #fafafa;
}
.card .number {
    color: #4ad9ec;
    border: 2px solid #4ad9ec;
    border-radius: 8px;
    padding: 0 0.5rem;
    margin: 0;
}
.service-icon {
    font-size: 1.5rem;
}

.likeDislikeBtn {
    cursor: pointer;
    &:hover {
        color: #4ad9ec;
    }
}
