@use "../../../../styles/" as *;

.queryDescription {
    border-radius: 10px;
}

.bodyTabs {
    border-bottom: 2px solid #747475;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.centerTabs {
    border-bottom: 2px solid #747475;
}

.queryDescription {
    background-color: #333333;
    width: 100%;
    height: 100%;
}

.codeViewer {
    padding: 2rem;
    min-height: 30rem;
    max-height: 45rem;
    overflow-y: scroll;

    .react-json-view {
        background: transparent !important;
    }
    * {
        font-size: 0.7rem !important;

        @include break("sm") {
            font-size: 0.8rem !important;
        }
        @include break("md") {
            font-size: 0.9rem !important;
        }
    }
}

.code {
    padding: 0 1rem;
}
