@use "../../styles/" as *;

.apiBtnContent {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

@mixin apiBtnBg($bgColor) {
    background: $bgColor !important;
    &:hover {
        background: darken($color: $bgColor, $amount: 10%) !important;
    }
}

$api-colors: (
    "get": #67b1fc,
    "post": #a374d5,
    "patch": #60e4c3,
    "delete": #f9b6b6,
    "put": #8a6a6a,
    "update": #f9b6b6,
);

.apiBtn {
    display: block;
    color: black;
    padding: 0.3rem 1.5rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    border-radius: 0.25rem;
    min-width: 5rem;
    text-align: center;
    cursor: pointer;
    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    @include break("md") {
        font-size: 0.9rem;
        min-width: 6rem;
    }

    @each $api, $color in $api-colors {
        &.#{$api} {
            @include apiBtnBg($color);
        }
    }

    &.small {
        font-size: 0.7rem;
        min-width: 5rem;
    }
}
