.sc-bczRLJ{
    background-color: #259BB1 !important;
    border:none !important;
}
.circular-icon{
    color: #259BB1 !important;
    border:none !important;
    background-color: #5f5f5f !important;
}