@use "../../styles/" as *;

$mainTitleLeftPadding: 1rem;

.colapsableMenu {
    &.show {
        & > .collapsableContent {
            max-height: 100%;
            height: auto;
            overflow-y: auto;
        }
        &.important {
            & > .collapsableTitle {
                background: #333242 !important;
            }
        }
        & > .collapsableTitle {
            .collapsableChevronIcon {
                transform: rotate(90deg);
            }
        }
    }
}

.collapsableChevronIcon {
    transition: all 0.3s ease-in-out !important;
    color: rgb(243, 156, 236);
}

.collapsableTitle {
    padding-left: $mainTitleLeftPadding;
    font-weight: normal;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #fff;
        padding: 0.2rem 0;
        margin: 0;
        font-weight: 400;
        font-size: 1rem;
        @include break("md") {
            font-size: 1.2rem;
        }
    }
    &:hover {
        background: #333242;
    }
}

.collapsableContent {
    max-height: 0;
    height: 0px;
    overflow: hidden;
    transition: all 0.5s ease-out;
}
