.card {
    padding: .5rem 1rem;
    background-color: #29283A;
    color: #FAFAFA;
}
.card .number{
    color: #4AD9EC;
    border: 2px solid #4AD9EC;
    border-radius: 8px;
    padding: 0 .5rem;
    margin: 0;
}
.service-icon{
    font-size: 1.5rem;
}