body {
    background: #151422 !important;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
}

.dropdown {
    position: relative;

    max-width: 10rem;

    a {
        width: 100%;
        height: 100%;
        display: block;
        text-decoration: none;
        color: inherit;
        &:hover {
            color: inherit;
        }
    }
}

.dropbtn {
    color: rgb(255, 255, 255) !important;
    display: block;
    padding: 10px;
    background: #0057a5;
    &:hover {
        background-color: #422464;
        color: #ffffff;
    }
    &:is(:hover, :focus) {
        & + ul {
            height: 100%;
        }
    }
}

.dropdownItems {
    display: block;

    position: relative;
    width: 100%;
    & > .dropdownItem {
        position: relative;
        bottom: 0;
        display: block;

        padding: 10px;
        color: rgb(255, 255, 255);
        background: #0057a5;
        cursor: pointer;
        &:hover {
            background-color: #422464;
            color: #ffffff;
            & > .subMenu {
                height: 100%;
                overflow: visible;
            }
        }
    }
}

.subMenu {
    position: absolute;
    z-index: 100000;
    top: 0;
    left: 100%;
    height: 0;
    overflow: hidden;
}

.dropdownHeader {
    font-weight: bold;
    text-align: center;
    font-size: 0.8rem !important;
    & + .dropdownItems {
        left: 0;
        top: 100%;
    }
}
