.dashboard-center {
    color: #ffffff;
}
.center-content-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;
    img {
        width: 5rem;
    }
    h3 {
        color: #ffffff;
    }
}
#options {
    border: 1px solid #4ad9ec;
    border-radius: 4px;
    background-color: #151422;
    color: #ffffff;
    outline: none;
    padding: 0.3rem 0.5rem;
    padding-right: 2rem;
    appearance: none;
}
.dash-drop {
    position: relative;
    cursor: pointer;
    border: 4px solid #4ad9ec;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    select {
        border: none;
        outline: none;
        border: none !important;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        padding-left: 1rem !important;
        padding-right: 4rem !important;
        font-size: 21px;
        border-radius: 12px !important;
    }
}
.dash-icon {
    position: absolute;
    right: 8px;
    top: 16px;
    color: #ffffff;
}
.center-content-body {
    p {
        margin-bottom: 0;
    }
    span {
        font-size: 0.7rem;
    }
}
.center-inner-body {
    padding: 0.5rem 1rem;
    margin: 1.5rem 0 2rem;
    background-color: #707070;
    border-radius: 5px;
}
.center-content-bottom {
    a {
        text-decoration: none;
        color: #ffffff;
        padding: 0.2rem 0.8rem;
        background-color: #707070;
    }
}
.color-btn {
    background-color: #a374d5 !important;
    border-radius: 4px;
    color: #000 !important;
    font-size: 0.9rem;
}
.get {
    background-color: #67b1fc !important;
}
.patch {
    background-color: #60e4c3 !important;
}

.dash-imageContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
}
