footer{
     width: 100%;
     box-sizing: border-box;
     background-color: var(--c-black);
}
.color-gold{
     color: var(--c-bright-gold);
   }
   .h-botoom-hr{
     /* border: none; */
     /* color: var(--c-bright-gold); */
     width: 25px;
     padding: 2px;
     opacity: 1;
   }
   .log-p{
        font-size: larger;
   }
   .footer-social-icon li a button{
     border: 1px solid var(--c-bright-gold);
     padding-top: 5px;
  }
  .footer-social-icon li a button .fab, .font-x-large
   { 
     font-size: x-large;
   } 
   .list-bolt li::before{
     content: "\2022";
     color: var(--c-bright-gold);
     font-weight: bold;
     display: inline-block; 
     width: 1em;
     margin-left: -2em;
     
    }
    .f-large{
         font-size: larger;
    }
    .text-decoration-none{
         text-decoration: none;
    }
    .c-dark-gold{
         color: var(--c-dark-gold);
    }
    .des-hr{
          opacity: 1;
    }
    .e-box::placeholder{
     color: #fff;
     padding: 35px;
     /* padding: 1px; */
  }
  .e-box{
    background-color: var(--c-bright-gold);
    border: 1px solid var(--c-new-gold);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .e-submit{
     width: 40%;
   }
   .f-w-normal{
     font-weight: normal;
     font-size: x-large;
   }
   .fo-icon{
     opacity: 1;
     color: var(--c-bright-gold);
     padding-right: 15px;
  }