
 nav{
       background-color: rgba(0,0,0, 0.75) !important;
       /* background-color: blue; */
      /* color: white !important; */
 }
 
 /******************Navbar***************/
 .logo{
     width: 8rem;
 }
 /******************Menu Bar************/
 nav a.nav-link{
     font-size: 1rem;
     letter-spacing: 0.0375rem;
     cursor: pointer;
     color: var(--c-white);
 }
 nav ul li{
     text-transform: uppercase;
 }a
 .navbar-nav > li > a{
     margin-right: 0.75rem;
     margin-left: 0.75rem;
     color: var(--c-white) !important;
     border-top: solid 0.1875rem var(--c-black);
 }
 .navbar-brand{
     max-width: 17.25rem;
     padding: 0 !important;
     height: 3rem !important;
 }
 /* .navbar-nav > li > a.active::after, .navbar-nav > li> a.active::after:focus{
     content: "";
     width: 0;
     height: 2px;
     display: block;
     color: var(--primary-red);
     transition: 1s;
 } */
 /* .navbar-nav > li > a::after:hover{
     width: 100%;
 } */
 .navbar-nav > li.active{
     color: var(--c-sky-logo);
 }
 .navbar-nav > li::after{
     content: "";
     width: 0%;
     height: 2px;
     background:var(--c-sky-light);
     display: block;
     margin: auto;
     transition: 1s;
 }
 .navbar-nav > li:hover::after{
     width: 80%;
 }
 /* .navbar-nav > li > a.active, .navbar-nav > li> a.active:focus
 {
     border-bottom: 0.1875rem solid var(--primary-red);
     transition: 1s; 
 }
 .navbar-nav > li > a:hover
 {
     border-bottom: 0.1875rem solid var(--primary-red); 
 }  */
 nav
 {
     z-index: 10000;
 }
 .logo-p{
     font-size: 0.75rem;
 }
 .navbar-nav > li > a{
     text-align: center;
 }
 .nav-btn{
    color: var(--c-sky-logo);
    text-decoration: none;
    font-size: var(--f-16) !important;
    transition: 1s;
    text-transform: uppercase;
}
 @media(max-width:992px) {
    .navbar-nav li{
        width: 10rem;
               /* justify-content: space-around; */
        margin-left: auto;
        margin-right: auto;
    }
 }
 nav{
     /* border-bottom: 0.1px solid rgba(51, 215, 237,0.1) !important; */
 }