@use "../../../../../../../../styles/" as *;

.apiBtnTitle {
    font-size: 0.9rem !important;
    margin-bottom: 1rem;
    @include break("md") {
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
    }
}

.apiButtons {
    margin-bottom: 2rem;
}
