@use "../../../../../../../../styles/" as *;

.apiBtnTitle {
    font-size: 0.9rem !important;
    margin-bottom: 1rem;
    @include break("md") {
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
    }
}

.apiButtons {
    margin-bottom: 2rem;
}

.viewBtn {
    text-transform: capitalize;
    background: transparent;
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 0.2rem 1.5rem;
    font-size: small;
}

.methodDesc {
    background: rgb(61, 53, 53);
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
}

.methodeUrl {
    font-size: small;
    word-wrap: break-word;
    word-break: break-all;
    padding: 0 0.5rem;
    @include break("md") {
        font-size: 14px;
    }
}
