.dateTime {
    width: 80%;
}

.date {
    font-size: 0.8rem !important;
}
.modal-btn {
    width: 10% !important;
}

.saveBtn {
    width: 100% !important;
    gap: 2rem !important;
    input {
        width: 80% !important;
    }
    button {
        width: 20% !important;
    }
}
