@use "../../../../../../../styles/" as *;

.leftSideType {
    span {
        word-break: break-word;
        font-size: 0.8rem;
        @include break("md") {
            font-size: 1rem;
        }
    }
}
