@use "../../styles/" as *;

$leftPanelWidth: 300px;
$rightPanelWidth: 350px;

.grid {
    display: grid;
    @include break(xl) {
        height: 100vh;
        grid-template-columns: $leftPanelWidth auto $rightPanelWidth;
    }
}

.left {
    background: #1c1b2c;
    padding-top: 7rem;
    @include break(xl) {
        grid-column: 1/2;
        height: 100vh;
        position: fixed;
        width: $leftPanelWidth;
        left: 0;
        top: 0;
        padding-top: 7rem;
        overflow: scroll;
    }
}
.center {
    background: #151422;
    @include break(xl) {
        grid-column: 2/3;
        padding-top: 7rem;
    }
    // overflow: scroll;
}

.center-container {
    padding: 1rem;
}

.right {
    background: #1c1b2c;
    color: #ffffff;
    grid-row: 2/3;
    @include break(xl) {
        grid-column: 3/4;
        height: 100vh;
        position: fixed;
        width: $rightPanelWidth;
        right: 0;
        top: 0;
        padding-top: 7rem;
        overflow: scroll;
    }
}
