@use "../../../../../styles/" as *;

.dashApiHeaderSmall {
    font-size: 1rem !important;
    @include break("md") {
        font-size: 1.2rem !important;
    }
    @include break("lg") {
        font-size: 1.2rem !important;
    }
}
