.dropToggler {
    background: #44434e;
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    min-width: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0;
}
