* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
    font-family: "Poppins", sans-serif !important;
    color: #fff !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
:root {
    --c-black: black;
    --logo-w: 172px;
    --c-white: #fff;
    --c-sky-logo: #2ab5c7;
    --c-sky-light: #33d7ed;
    --c-new-gold: #ffb74d;
    --c-yellow-gold: #fdaf2a;
    --c-light-gold: #fbb158;
    --c-bright-gold: #fd8432;
    --f-22: 22px;
    --f-16: 16px;
    --c-black-some-transparent: rgba(0, 0, 0, 0.5);
    --c-dev-ops: #151422;
    --c-dark-gold: #fd8432;
}

/* hide browser scroll bar */
::-webkit-scrollbar {
    display: none !important;
}
